/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-color: #008ebc;
	-fx-text-fill: #ffffff;
	-fx-font-size: 15px;
	-fx-background-radius: 20;
	-fx-font-family:"SansSerif"
}
.button:hover{
	-fx-background-color: #00b0c4;
	-fx-text-fill: #ffffff;
}
.root{
	-fx-font-family:"SansSerif"
}

.jfx-tab-pane .tab-header-background{
	-fx-background-color:#10699A;
	
}
 
.jfx-tab-pane .tab .tab-label{
	-fx-background-color:#10699A;
	-fx-pref-width:180;
	-fx-pref-height:40;
	-fx-text-fill: #ffffff;
	-fx-font-size: 15px;
	-fx-alignment: CENTER;
}


